<div class="row">
    <table >
        <thead>
          <tr>
            <th>Nombre</th>
            <!--<th>Pais</th>
            <th>DNI</th>
            <th>Capacidad</th>
            <th>Edad</th>
            <th>Unidad propia</th>-->
            <th *ngIf="mostrarSeleccionar">Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repartidor of repartidores">
            <td>{{ repartidor.nombre }}</td>
            <!--<td>{{ repartidor.pais?.nombre }}</td>
            <td >{{ repartidor.dni }}</td>
            <td >{{ repartidor.capacidad }}</td>
            <td >{{ repartidor.edad }}</td>
            <td >{{ repartidor.unidadPropia }}</td>
            <td>
              <img [src]="pelicula.fotoPelicula" alt="{{ pelicula.nombre }}" width="100">
            </td>-->
            <td *ngIf="mostrarSeleccionar">
                <button (click)="seleccionar(repartidor)" class="btn btn-primary">X</button>
            </td>
          </tr>
        </tbody>
    </table>
</div>



